[Unit]
Description=Fauxmo service for emulating local devices to connect to Alexa
After=network.target

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python /home/osmc/fauxmo/fauxmo.py
WorkingDirectory=/home/osmc/fauxmo
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target